.container {
  display: flex;
  align-items: flex-start;
  gap: 65px;
  width: 1312px;
  margin: 0 auto;
  padding: 48px 64px;
}

.filters {
  width: 360px;
}

.trucks {
  display: flex;
  width: 888px;
}
